$primary_color: #898989;

$dark_color: #1d2029;
$light_color: #fffffd;

$dark_card_color: #252b43;
$light_card_color: rgb(240, 240, 240);

$border_color: #1ba3f7;
$border_color_instagram: linear-gradient(to right, #fbf22a, #ffc13a, #ff8c78, #ff6cbf, #ff78ff);
$border_color_yt: #c2032c;
$slider_gradient: linear-gradient(to right, #003687, #0067b4, #0090a8, #00b26b, #8bc900);

$border_size: 5px solid;

$breakpoint_tablet: 768px;

$big-font: 60px;
$small-font: 13.5px;

$width_tablet: 95%;